.masonry { /* Masonry container */
    column-count: 4;
    column-gap: 1em;
}

.item { /* Masonry bricks or child elements */
    background-color: #fff;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}
