<div class="col-md-3">

    <h3>Select files</h3>

    <div NgDropFiles
          [ngClass]="{'file-over': isDropZoneOver}"
          (fileOver)="fileOverDropZone($event)"
          [files]="files"
          class="well drop-zone">
        <h4>Drop your files here</h4>
        <img src="/assets/images/drop-images.png"/>
    </div>

</div>

<div class="col-md-9" style="margin-bottom: 40px">

    <h3>Upload Files</h3>

    <button type="button" class="btn btn-success" (click)="uploadImagesToFirebase()" [disabled]="files?.length == 0 || !isEnabledUpload">
        <span class="glyphicon glyphicon-upload"></span> Upload files to Firebase
    </button>
    <button type="button" class="btn btn-danger" (click)="clearFiles()">
        <span class="glyphicon glyphicon-trash"></span> Clear files
    </button>

    <table class="table" *ngIf="files.length > 0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Progress</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of files">
                <td [ngClass]="{'text-green': item.isUploading}"><strong>{{ item?.file?.name }}</strong></td>
                <td nowrap>{{ item?.file?.size / 1024 / 1024 | number:'.2' }} MB</td>
                <td>
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
                      
</div>
